body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-outline-primary {
    --bs-btn-color: #00ADB5;
    --bs-btn-border-color: #00ADB5;
    --bs-btn-hover-bg: #00ADB5;
    --bs-btn-hover-border-color: #00ADB5;
    --bs-btn-active-bg: #00ADB5;
    --bs-btn-active-border-color: #00ADB5;
    --bs-btn-disabled-color: #00ADB5;
    --bs-btn-disabled-border-color: #00ADB5;
}